* {
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
}
body {
	font-size: 16px;
}
.area-list ul li a {
	font-size: 14px !important;
	padding: 8px 10px;
}
.area-list ul li {
	width: 300px;
	margin: 2px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}
.area-list.user ul li {
	width: 100%;
	margin: 2px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.area-list ul li .desc {
	color: #676565;
	display:block;
}
.area-list .nav li a .badge {
	float: right;
	margin-top: 1px !important;
}
.area-list .nav li a .pos {
	float:left;
	width:70px;
	color:#7B7B7B;
}


div.dataTables_info {
	padding-top: 8px;
	margin:0px 10px;
	height:45px;
}
div.dataTables_paginate {
	float: right;
	margin: 0;
}
div.dataTables_paginate ul.pagination {
	margin: 2px 0;
	white-space: nowrap;
}
.dataTables_input{
	margin-top:4px;
}

#viewMailDiv {
	position: fixed;
	padding: 5px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #fff;
	z-index: 20000;
	border-left-color: rgb(232, 237, 243);
	border-left-style: solid;
	border-left-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 15px 0px;
	box-sizing: border-box;
	color: rgb(72, 71, 68);
	display: block;
	line-height: 20px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-in;
	width: 700px;
}

#viewMailDiv .header {
	border-bottom-color: rgb(238, 236, 232);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin:1px;
	height: 30px;
}
#viewMailDiv iframe {
	width: 100%;
	top:30px;
	height:100%;
	bottom: 0px;
	position: absolute;
	padding: 10px;
}

.read_mail .mailquote {
	color: rgb(172, 171, 167);
}

.read_mail .replys {
	margin:10px;
}